@using MVC_TABLADEVALORES_CLINICA.Models.Entities
@using WebApi_Clinica.Shared.Dtos
@model List<MedicoDto>

@{
    ViewData["Title"] = "Medicos";
}

<h2 style="text-align:center">
    @ViewBag.titulo
</h2>

<div class="table-container">

    <form asp-action="TablaDeContenido" method="get">
        <div style="display: flex; align-items: End;">
            <div style="margin-right: 5px;">
                <label for="nombreFiltro" class="sr-only">Filtros</label>
                <input type="text" name="nombreFiltro" id="nombreFiltro" class="form-control" value="@ViewBag.NombreFiltro" placeholder="Nombre" />
            </div>
            <div style="margin-right: 5px;">
                <label for="apellidoFiltro" class="sr-only"></label>
                <input type="text" name="apellidoFiltro" id="apellidoFiltro" class="form-control" value="@ViewBag.ApellidoFiltro" placeholder="Apellido" />
            </div>
            <div style="margin-right: 5px;">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
    <p>
        <a asp-action="AgregarMedico">Agregar Medico</a>
    </p>
    <div style="height: 95%; overflow-y: auto; overflow-x: auto; border: 1px solid; width: 100%;">
        <table class="table" style="table-layout: fixed; width: 100%; height: 100%;">
            <thead>
                <tr>
                    <th class="sticky-header-c" style="width: 05%;">NUMCOL</th>
                    <th class="sticky-header-l" style="width: 20%;">NOMBRE</th>
                    <th class="sticky-header-l" style="width: 20%;">APELLIDO</th>
                    <th class="sticky-header-l" style="width: 15%;">ESPECIALIDAD</th>
                    <th class="sticky-header-r" style="width: 08%;">DESCRIPCION</th>
                    <th class="sticky-header-c" style="width: 32%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:right; width: 02px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.NumeroColegiado</td>
                        <td style="width: 05px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Nombre</td>
                        <td style="width: 05px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Apellido</td>
                        <td style="width: 03px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.EspecialidadNombre</td>
                        <td style="text-align:right; width: 02px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Descripcion</td>
                        <td>
                            <div style="display: flex; flex-wrap: wrap; gap: 2px;">
                                <a asp-action="EditarMedico" class="btn botonEdit" asp-route-id="@item.Id">Editar</a> |
                                <a asp-action="VerMedico" class="btn botonDetails" asp-route-id="@item.Id">Detalle</a> |
                                <a asp-action="MostrarEliminarMedico" class="btn botonDelete" asp-route-id="@item.Id">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success">@TempData["MensajeExito"]</div>
}

@if (TempData["MensajeError"] != null)
{
    <div class="alert alert-danger">@TempData["MensajeError"]</div>
}